.main-container {
    padding: 50px;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 300px;
}

a {
    text-decoration: none;
    color: #f4f4f4;
}

@media screen and (max-width: 400px) {
    .main-container {
        margin: 110px;
    }
}
